<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>NMFClientId</key>
	<string>ljveyyg570</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>정보를 제공하기 위하여 Always</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>정보를 제공하기 위하여 When In Usage</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>정보를 제공하기 위하여 Always and When In Use</string>
</dict>
</plist>
