<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>QR 사진 저장을 위한 사진접근을 허용해주세요.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marketgo</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NMFClientId</key>
	<string>ljveyyg570</string>
</dict>
</plist>
