<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>ljveyyg570</string>
	<key>KAKAO_APP_KEY</key>
	<string>b3ba5f89b25656f683939d0c2e3079a7</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>카카오 api</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>카카오 api</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>카카오 api</string>
</dict>
</plist>
